body {
    font-family: "open_sansregular", "Open Sans", Arial, Helvetica, sans-serif;
}

#tudo {
    font-size: 62.5%;
}

header {
    font-size: 1.2em;
}

.js-necessario,
.js-necessario * {
    text-decoration: line-through;
    cursor: not-allowed;
    display: none;
}

h1,
h2,
h3 {
    letter-spacing: -0.05em;
}

a,
a:active,
a:visited,
a:hover {
    text-decoration: none;
}

#barra-atalhos *,
main h2:not(:first-child),
main h3,
main h4,
main h5,
main h6,
main p,
main .main-rodape {
    font-family: Arial, Helvetica, sans-serif
}

main .bloco,
main .bloco .legenda {
    border: 0;
    margin: 0;
    margin-bottom: 30px;
    position: relative;
    display: block;
}

main .bloco .legenda {
    width: 99%;
}

h2 {
    font-size: 3em;
    padding: 0;
}

#titulo span {
    display: block;
}

#cabecalho>div,
#barra-servicos ul,
#extra-footer,
#footer-menu>*,
#barra-breadcrumb,
#central {
    margin: 0 auto;
}

main p {
    line-height: 21px;
}

body,
header,
footer,
header ul,
#titulo h1,
#extra-footer p,
#footer-menu dd,
#footer-menu ul {
    padding: 0;
    margin: 0;
}

main>:first-child {
    padding-top: 0;
    margin-top: 0;
}

header li,
#barra-servicos li,
#menu-lateral li,
#footer-menu li {
    list-style-type: none;
}

#barra-brasil {
    font-family: 'open_sanssemibold';
    color: #606060;
    background-color: #F1F1F1;
    min-height: 32px;
    border: 1px solid #DFDFDF;
    padding: 0 0 0 10px;
    display: block;
}

#central {
    min-height: 200px;
}

header li,
#barra-servicos li,
#barra-atalhos,
#barra-acessibilidade,
#barra-idiomas {
    display: inline-block;
}

#barra-atalhos span {
    padding: 0 3px;
    margin-right: 1em;
}

#barra-acessibilidade li,
#barra-idiomas li {
    margin-left: 10px
}

#barra-acessibilidade li:first-child,
#barra-idiomas li:first-child {
    margin-left: 0;
}

header li:last-child a {
    padding-right: 0;
}

#barra-acessibilidade,
#barra-idiomas {
    margin-left: 48px;
    float: right;
    padding-bottom: 2px;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
}

#barra-atalhos,
#barra-acessibilidade,
#barra-idiomas,
#barra-breadcrumb {
    font-size: 0.88em;
}

#barra-acessibilidade,
#barra-idiomas,
#titulo .subordinacao,
#barra-breadcrumb,
.chapeu {
    text-transform: uppercase;
}

#titulo .denominacao,
#titulo .subordinacao,
#barra-busca input[type='text'],
#barra-servicos {
    font-size: 12px;
}

#titulo {
    margin-top: 30px;
    position: relative;
    padding-bottom: 30px;
}

/*
#titulo .denominacao {
    position: absolute;
    display: block;
    line-height: 1em;
}

#titulo .denominacao {
    top: -15px;
}
*/

#titulo h1 {
    font-size: 40px;
    font-family: "open_sansextrabold", "Open Sans", Arial, Helvetica, sans-serif;
    font-weight: 900;
    line-height: 1em;
}

#titulo .subordinacao {
    margin-top: 1em;
}

#cabecalho {
    padding: 15px 0 0 0;
}

#cabecalho ul {
    margin: 0;
    padding: 0;
}

#barra-servicos {
    line-height: 20px;
    text-align: right;
    clear: both;
}

#barra-servicos {
    padding: 5px 0;
    max-width: 100% !important;
    line-height: 20px;
}

#cabecalho>div {
    min-height: 135px;
    position: relative;
}

#barra-servicos {
    border-bottom-width: 0;
    border-bottom-style: solid;
}

#barra-servicos li a {
    padding: 0 10px;
    border-width: 0 1px 0 0;
    border-style: solid;
}

#barra-servicos li:last-child a {
    border: 0 !important;
}

#barra-breadcrumb {
    margin-top: 1.923em;
    margin-bottom: 1.923em;
}

#footer-brasil {
    padding-top: 25px;
    min-height: 75px;
}

#extra-footer {
    font-size: 1.2em;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer {
    clear: both;
}

#footer-menu {
    margin-top: 30px;
    padding-top: 30px;
}

#central {
    font-size: 1.4em;
}
.menu-relevancia{
    margin-bottom: 45px;
}

.menu-relevancia ul {
    margin-top: 0;
}

.menu-relevancia ul {
    border-top-width: 1px;
    border-top-style: solid;
    padding: 0 !important;
}

#menu-lateral {
    margin-top: 0 !important;
}

.menu-relevancia ul,
#menu-lateral li {
    border-color: #dfdfdf;
}

#menu-lateral .bloco {
    margin-bottom: 45px;
    margin-top: 0;
}

#menu-lateral dd,
#menu-lateral ul,
#menu-lateral li {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}

main .main-rodape {
    margin-top: 45px;
    font-size: 11px;
}

#menu-lateral li {
    display: block;
    min-height: 30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

main .main-rodape>* {
    padding-top: 15px;
}

hr,
#menu-lateral .bloco .legenda,
main .bloco .legenda,
main .main-rodape>* {
    border-style: solid;
    border-width: 4px 0 0 0;
    overflow: hidden;
}

main .main-rodape>* {
    border-width: 0 0 1px 0;
}

main .main-rodape>*>* {
    display: inline-block;
    box-sizing: border-box;
}

main .main-rodape ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

main .main-rodape li {
    display: inline-block;
    margin-left: 5px;
    line-height: 30px;
    margin-bottom: 15px;
}

main .main-rodape .legenda {
    padding: 10px 9px 15px 0;
    margin-bottom: 0;
}

main .main-rodape li a {
    padding: 4px 9px;
    margin: 0;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
}

main .main-rodape>:first-child {
    border-top-width: 4px;
}

main .bloco .legenda {
    font-size: 20px;
    padding-top: 12px;
    font-weight: normal;
    padding-right: 0;
    box-sizing: border-box;
}

main .bloco:first-child>.legenda {
    margin-top: 0;
}


#menu-lateral .bloco .legenda {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

#menu-lateral li a {
    display: table-cell;
    vertical-align: middle;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-relevancia li a {
    padding-left: 0 !important;
}
.bloco .legenda {
    padding: 8px 8px 24px 10px;
}

#menu-lateral .bloco li a,
#menu-lateral .bloco li a:hover,
#menu-lateral .bloco li a:active,
#menu-lateral .bloco li a:visited {
    padding-left: 1em;
    color: #172938;
}

/* Centrais de conteúdos */

.centrais-de-conteudos li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.centrais-de-conteudos li a {
    padding: 0 0 0 50px !important;
    height: 40px;
}

.centrais-de-conteudos a {
    background-repeat: no-repeat;
    background-position: 1000px 1000px;
}

.centrais-de-conteudos .publicacoes a {
    background-position: 0 -252px;
}

.centrais-de-conteudos .videos a {
    background-position: 0 -156px;
}

.centrais-de-conteudos .audios a {
    background-position: 0 -108px;
}

.centrais-de-conteudos .fotos a {
    background-position: 0 -300px;
}

.centrais-de-conteudos .infograficos a {
    background-position: 0 -204px;
}

.centrais-de-conteudos .aplicativos a {
    background-position: 0 -350px;
}

.centrais-de-conteudos .dadosabertos a {
    background-position: 0 -400px;
}

#barra-busca {
    border: 1px solid #CCCCCC;
    float: right;
    padding: 6px 2px 5px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    text-align: right;
    font-size: 80%;
    display: inline-block;
}

header fieldset,
header legend,
#barra-busca input {
    border: 0;
    padding: 0;
}

#barra-busca input[type="text"] {
    width: 214px;
}

#barra-busca input {
    height: 19px;
}

#barra-busca input[type="submit"] {
    width: 19px;
    text-indent: -2000px;
    background-color: transparent;
    background-position: 0px 0px;
    cursor: pointer;
    opacity: .75;
}

#barra-busca input[type="submit"]:hover,
#barra-redes-sociais a:hover {
    opacity: 1;
}

#barra-busca input:focus {
    outline: none;
}

#barra-redes-sociais a {
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: none;
    margin: 0 0 0 5px;
    opacity: .85;
    text-indent: 100%;
}

.youtube a {
    background-position: -130px -25px;
}

.googleplus a {
    background-position: -130px 0;
}

.instagram a {
    background-position: 69px -49px;
}

.tumblr a {
    background-position: 96px -49px;
}

.twitter a {
    background-position: -155px -25px;
}

.facebook a {
    background-position: 120px -25px;
}

.flickr a {
    background-position: -105px -25px;
}

.soundcloud a {
    background-position: 20px 0;
}

.slideshare a {
    background-position: 45px 0;
}

.rss a {
    background-position: 145px -25px;
}

main>h2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

main>.informacoes {
    border-color: rgb(215, 220, 216);
    border-top-style: solid;
    border-top-width: 1px;
    overflow: hidden;
}

main>.informacoes ul {
    padding: 0 0 0 1em;
    margin: 0;
    border-left-color: rgb(215, 220, 216);
    border-left-style: solid;
    border-left-width: 1px;
    list-style-type: none;
}

main>.informacoes dl,
main>.informacoes ul {
    display: inline-block;
}

main>.informacoes .info {
    font-size: 12px;
    width: 75%;
    float: left;
}

main>.informacoes dt {
    float: left;
    margin: 0;
    margin-right: 3px
}

main>.informacoes dd {
    margin-left: 0
}

main .bloco .noticia.grande h2,
main .bloco .noticia.grande h3 {
    font-size: 33px;
    margin: 15px 0 15px 0;
}

main .bloco .noticia:not(.grande) h2,
main .bloco .noticia:not(.grande) h3 {
    font-size: 16px;
    margin: 15px 0 0 0;
}

main .bloco .noticia:not(.grande) p:first-of-type {
    margin-top: 0;
}

main .legenda,
main .bloco .noticia,
main>.manchetes .linha {
    margin-bottom: 30px;
}

main>.manchetes .linha {
    border-bottom: 1px solid #D7D7D7;
}

#footer-menu {
    padding-bottom: 100px;
}

#footer-menu dl {
    margin-top: 0;
    border-left-style: dotted;
    border-left-width: 1px;
    margin-bottom: 46px;
}

#footer-menu dt {
    /* Título da coluna */
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 18px;
}

#footer-menu dd {
    /* Título da coluna */
    font-size: 13px;
}

#footer-menu .linha {
    margin: 0 auto;
    max-width: 910px;
}

#footer-menu .celula {
    float: left;
    padding-left: 1em;
    padding-right: 5px;
}

#footer-menu .tamanho-2 .celula {
    width: 46%;
}

#footer-menu .tamanho-3 .celula {
    width: 30%;
}

@media screen and (min-width: 1024px) {
    #footer-menu .tamanho-4 .celula {
        width: 23%;
    }
}

@media screen and (min-width: 577px) and (max-width: 1024px) {
    #footer-menu .tamanho-4 .celula {
        width: 30%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #footer-menu .linha {
        max-width: 750px;
    }
}

@media screen and (max-width: 768px) {
    #footer-menu .linha {
        max-width: 96%;
    }
}

@media screen and (max-width: 576px) {
    #footer-menu .celula {
        width: 42% !important;
    }
}

@media screen and (max-width: 400px) {
    #footer-menu .celula {
        width: 85% !important;
    }
}

main .listagem h2 {
    font-size: 28px;
    text-transform: uppercase;
    color: #2c66ce;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

main .listagem .chapeu {
    font-size: 11px;
}

main .listagem {
    color: #172938;
    overflow: hidden;
}
main .listagem .noticia,
main .listagem .publicacao{
    border-color: silver;
    border-style: dashed;
}

main .listagem .noticia{
    border-width: 0 0 1px 0;
    padding: 30px 0;
}
main .listagem .noticia:first-of-type{
    border-top-width: 1px;
}
main .listagem .publicacao{
    border-width: 0 0 0 1px;
    padding-left: 17px;
}

main .listagem h3 {
    font-size: 16px;
}

main .listagem .conteudo {
    font-size: 15px;
}

main .listagem .informacoes {
    box-sizing: border-box;
}

main .listagem .informacoes .data span {
    display: block;
    margin-bottom: 15px;
}

main .listagem .informacoes span {
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 32px;
}

main .listagem .tags>*,
main .listagem .categorias>*,
main .listagem li {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 15px;
}
main .listagem .conteudo{
    margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
    main .listagem .informacoes {
        float: left;
    }    
    main .listagem .publicacao {
        margin-left: 145px;
    }
}